

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{pagetitle|Main View}}</title>
    <link rel="stylesheet" href="main.css" data-x-location="head" />
  </head>
  <body>
    
        <x-md></x-md>
        <x-f-list itemsperpage="2" orderby="timestamp desc" use="BlogArchiveItem">No articles yet...</x-f-list>
    
    This is the default content from secondary
    <script src="main.js" data-x-location="footer"></script>
  </body>
</html>
