<script src="homepage.js" data-x-location="footer-100"></script>
<link rel="stylesheet" href="homepage.css" data-x-location="footer-200" />
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{pagetitle|Main View}}</title>
    <link rel="stylesheet" href="main.css" data-x-location="head" />
  </head>
  <body>
    
        <style>body{color:red}</style>
        <x-md></x-md>
        <button type="procure" class="whatever">
    Commit
</button>
        <button type="cancel" class="{{buttonClass|submit-button}}">
    Submit
</button>
        <button type="cancel" class="{{buttonClass|submit-button}}">
    Submit
</button>
    
    This is the default content from secondary
    <script src="main.js" data-x-location="footer"></script>
  </body>
</html>
