<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{pagetitle|Main View}}</title>
    <link rel="stylesheet" href="main.css" data-x-location="head" />
  </head>
  <body>
    <x-content-main type="div">this is default content from main block</x-content-main>
    <x-content-secondary type="span">This is the default content from secondary</x-content-secondary>
    <script src="main.js" data-x-location="footer"></script>
  </body>
</html>
